:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}

.timer-container {
  color: white;
  background-color: black;
  font-size: 32px;
}

.running {
  background-color: aquamarine;
}
